:root,
:host {
  --ly-badge-bg-success: var(--bg-success);
  --ly-badge-bg-success-hover: var(--bg-success-hover);
  --ly-badge-bg-danger: var(--bg-danger);
  --ly-badge-bg-warning: var(--bg-warning);
}
