@use "src/variants";

.ly-badge {

  --ly-badge-padding-top: 0px;
  --ly-badge-padding-right: 8px;
  --ly-badge-padding-bottom: 0px;
  --ly-badge-padding-left: 8px;
  --ly-badge-border-radius: 4px;
  --ly-badge-line-font-weight: 600;

  @include variants.variant-color;

  &--small {
    --ly-badge-height: 24px;
    --ly-badge-font-size: 0.75rem;
    --ly-badge-line-height: 1rem;
  }

  &--medium {
    --ly-badge-height: 32px;
    --ly-badge-font-size: 0.75rem;
    --ly-badge-line-height: 1rem;
  }

  &--large {
    --ly-badge-height: 40px;
    --ly-badge-font-size: 1rem;
    --ly-badge-line-height: 1.25rem;
  }
}
