@use "src/variants";

.ly-badge {
  @include variants.variant-color;

  --ly-badge-padding-top: 4px;
  --ly-badge-padding-right: 8px;
  --ly-badge-padding-bottom: 4px;
  --ly-badge-padding-left: 8px;
  --ly-badge-border-radius: 4px;
  --ly-badge-font-size: 0.75rem;
  --ly-badge-line-height: 1rem;
  --ly-badge-line-font-weight: 600;
}
