@mixin variant-color {
  &--primary {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-primary);
    --variant-color-dark: var(--bg-primary-hover);
  }

  &--success {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-success);
    --variant-color-dark: var(--bg-success-hover);
  }

  &--warning {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-warning);
    --variant-color-dark: var(--bg-warning-hover);
  }

  &--danger {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-danger);
    --variant-color-dark: var(--bg-danger-hover);
  }
}
