:root,
:host {
  --bg-primary: #7500a3;
  --bg-primary-hover: #64008b;
  --bg-success: #95c35f;
  --bg-success-hover: #86af55;
  --bg-danger: #c11619;
  --bg-danger-hover: #ad1316;
  --bg-warning: #e39c57;
  --bg-warning-hover: #cc8c4e;
}

.ly-variant {
  &--primary {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-primary);
    --variant-color-dark: var(--bg-primary-hover);
  }

  &--success {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-success);
    --variant-color-dark: var(--bg-success-hover);
  }

  &--warning {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-warning);
    --variant-color-dark: var(--bg-warning-hover);
  }

  &--danger {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-danger);
    --variant-color-dark: var(--bg-danger-hover);
  }
}
