@use "variables";

// Style reset
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  padding: 0;
  outline: inherit;
}

.ly-variant {
  &--success {
    background-color: var(--bg-success);

    &:hover {
      background-color: var(--bg-success-hover);
    }
  }

  &--danger {
    background-color: var(--bg-danger);
    &:hover {
      background-color: var(--bg-danger-hover);
    }
  }

  &--warning {
    background-color: var(--bg-warning);
    &:hover {
      background-color: var(--bg-warning-hover);
    }
  }
}
