.ly-button {
  --ly-button-padding-top: 8px;
  --ly-button-padding-right: 24px;
  --ly-button-padding-bottom: 8px;
  --ly-button-padding-left: 24px;
  --ly-button-border-radius: 8px;
  --ly-button-font-size: 18px;
  --ly-button-line-height: 28px;
  --ly-button-line-font-weight: 500;

  &--success {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-success);
    --variant-color-dark: var(--bg-success-hover);
  }

  &--warning {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-warning);
    --variant-color-dark: var(--bg-warning-hover);
  }

  &--danger {
    --variant-text-color: #ffffff;
    --variant-color: var(--bg-danger);
    --variant-color-dark: var(--bg-danger-hover);
  }
}
